<div class="buscador">
  <div class="input-group">
    <input type="text"
           [(ngModel)]="textoBusqueda"
           placeholder="Ingresá una dirección" />

    <button (click)="buscarPorTexto()">Buscar</button>
  </div>
</div>

<div class="map-container">
  <div id="map" style="height: 500px; width: 100%;"></div>
</div>

@if (direccionEncontrada) {
  <p><strong>Dirección seleccionada:</strong> {{ direccionEncontrada }}</p>
}

<!-- <div id="map"></div> -->

@if (direccionEncontrada) {
  <div class="info">
    <p>📍 {{ direccionEncontrada }}</p>
  </div>
}
