.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-content{
    display:flex;
    flex-direction: column;
    gap: 16px;
}
.card-header{display:flex;
justify-content: center;
align-items: center;
}

.login-card-actions{
    display: flex;
    justify-content: space-between;
}