.producto-card {
  position: relative;
  overflow: hidden;
  padding-bottom: 1rem;
}

.actions {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.cantidad-container {
  display: flex;
  align-items: center;
  gap: 4px;
}

.cantidad-input {
  width: 50px;
  text-align: center;
  font-size: 14px;
}
