.registro-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.card-header {
    display: flex;
    justify-content: center;
    align-items: center;

}

.form-row {
    display: flex;
    gap: 2rem;
}

.field {
    width: 100%;
}